[submodule "lib/canjs"]
	path = lib/canjs
	url = git://github.com/bitovi/canjs.git
[submodule "steal"]
	path = steal
	url = git://github.com/bitovi/steal.git
[submodule "funcunit"]
	path = funcunit
	url = git://github.com/bitovi/funcunit.git
