[submodule "lib/canjs"]
	path = lib/canjs
	url = git://github.com/bitovi/canjs.git
[submodule "lib/jquerypp"]
	path = lib/jquerypp
	url = git://github.com/bitovi/jquerypp
[submodule "steal"]
	path = steal
	url = git://github.com/bitovi/steal.git
