@import "../../bower_components/bootstrap/less/bootstrap";


.view > dt {
  font-weight: bold;
}

.navbar-top {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(119, 33, 111, 1) 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(119, 33, 111, 1)));
  background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(119, 33, 111, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(119, 33, 111, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(119, 33, 111, 1) 100%);
  background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(119, 33, 111, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#77216f', GradientType=1);
}

#EventList {

  .loadMsg {
    display: none;
  }

  &.loading {

    .loadMsg {
      margin-top: 15px;
      display: block;
    }

  }

  .accordion-heading {
    position: relative;

    button {
      position: absolute;
      top: 8px;
      left: 175px;
    }
  }

}

.event {

  table {

    thead {
      td {

        font-size: 70%;
        font-family: inherit;
        color: #777;
        text-transform: uppercase;

      }
    }

    td {

      vertical-align: top;
      padding: 5px;
      margin: 0 5px;
      font-size: 85%;
      font-family: Consolas, fixed;

      &.nowrap {
        white-space: nowrap;
      }

      &:nth-child(odd) {
        background-color: #F0F8FF;
      }

      &.location {
        cursor: pointer;
      }

      &.break {
        display: none;
      }

    }

  }

  .small {
    display: none;
  }

  @media only screen and (max-width: 675px) {
    table {
      width: 100%;
      margin-bottom: 0;

      td {

        &.presenter,
        &.description {
          display: none;
        }

      }

    }

    .small {
      display: block;
      margin-bottom: 15px;

      p {
        font-size: 80%;
        font-family: Consolas, fixed;
        line-height: 1.3em;
      }
    }

  }

}

.modal {

  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 2;
  }

  .modal-body {
    max-height: 715px;
    overflow: visible;
  }

}

