{{#evt}}
    <dl class="event">
        <dt>{{title}}</dt>
        <dd>
            <table>
                <tr>
                    <td class="head">Start</td>
                    <td class="head">End</td>
                    <td class="head">Description</td>
                </tr>
                <tr>
                    <td>{{fmtTime start}}</td>
                    <td>{{fmtTime end}}</td>
                    <td>{{description}}</td>
                </tr>
            </table>
        </dd>
    </dl>
{{/evt}}
{{^evt}}
    Nothing to see here!
{{/evt}}