{{#evt}}

    <div class="event">
        <h5>{{title}}</h5>
            <table class="table table-condensed">
                    <thead>
                    <tr>
                        <td class="head">Start</td>
                        <td class="head">End</td>
                        {{{showLocationHeader}}}
                        {{{showTrackHeader}}}
                        <td class="head">Presenter</td>
                        <td class="head">Description</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{fmtTime start}}</td>
                        <td>{{fmtTime end}}</td>
                        {{{showLocation location}}}
                        {{{showTrack track}}}
                        <td>{{#presenters}}<span style="display:block;white-space:nowrap">{{.}}</span>{{/presenters}}</td>
                        <td>{{description}}</td>
                    </tr>
                    </tbody>
             </table>
    </div>
{{/evt}}
{{^evt}}
    Nothing to see here!
{{/evt}}