{{#view}}
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#{{getAccordionId this}}" data-parent="#accord1">
            <span class="panel-title">{{getSectionName this}}&nbsp;&nbsp;{{{showMap this}}}</span>
        </div>
        <div {{data "view"}} id="{{getAccordionId this}}" class="panel-collapse collapse">
            <div class="panel-body">{{{getEvent this}}}</div>
        </div>
    </div>
{{/view}}
{{^view}}
    <p class="lead small">Nothing is occuring within the next 3 hours..</p>
{{/view}}