header {

}

.view>dt {
  font-weight: bold;
}

.event {

  table {
    width: 75%;

    @media only screen and (max-width: 480px) {
      width: 100%;
    }
  }



  td {
    vertical-align: top;
    padding : 5px;
    margin : 0 5px;
    font-size: 80%;

    &.head {
      font-weight: bold;
      font-size: 60%;
      text-transform: uppercase;
      text-decoration: underline;
    }
  }

}