<div class="collapse navbar-collapse navbar-right" id="collapse">
    <ul class="nav navbar-nav">
        {{#nodes}}
            <li><a href="#{{{route}}}" class="day {{isActive route}}">{{name}}</a></li>
        {{/nodes}}
    </ul>
</div>